/bin/
/Build/Behat/
/Build/BuildEssentials/
/Build/Reports/
/Build/Resources/
/Build/Surf/
/Build/create-branch.sh
/Build/create-changelog.sh
/Build/set-dependencies.sh
/Build/tag-release.sh
/Configuration/**/*.example
/Configuration/PackageStates.php
/Configuration/README
/Configuration/**/IncludeCachedConfigurations.php
/Configuration/Development/
/Data/
/Packages/
/Web/.htaccess
/Web/index.php
/Web/_Resources/
/Readme.txt
/Upgrading.txt
/*.rst

# ignore the downloaded selenium server, config and the selenium
# temporary directory (which starts with a quote, do not ask why...)
/Tests/Selenium/settings.xml
Build/Resources/Java/selenium-server-standalone*
/"

.idea/
.vagrant/
