{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace neos=TYPO3\Neos\ViewHelpers}

<f:if condition="{inputLabelEnable}">
	<f:then>
		<label>
			{neos:contentElement.editable(property: 'inputLabel')}
			<f:render section="formTextfield" arguments="{_all}"/>
		</label>
	</f:then>
	<f:else>
		<f:render section="formTextfield" arguments="{_all}" />
	</f:else>
</f:if>

<f:section name="formTextfield">
	<f:form.textfield name="{inputName}" type="{inputType}" additionalAttributes="{inputAttributes}" />
</f:section>
