{namespace neos=TYPO3\Neos\ViewHelpers}

<f:if condition="{inputLabelEnable}">
	<f:then>
		<label for="{inputId}">
			{neos:contentElement.editable(property: 'inputLabel')}
			<f:render section="formElement" arguments="{_all}"/>
		</label>
	</f:then>
	<f:else>
		<f:render section="formElement" arguments="{_all}" />
	</f:else>
</f:if>

<f:section name="formElement">
	<f:form.select id="{inputId}" name="{inputName}" value="{inputValue}" additionalAttributes="{inputAttributes}" options="{selectOptions}" />
</f:section>
