{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace neos=TYPO3\Neos\ViewHelpers}

<!-- Main tabs element -->
<f:section name="tabs">
	<{tagName}{attributes -> f:format.raw()}>
		<f:render partial="Anchor" arguments="{_all}" />

		<ts:render path="tabsNavContent" />
		<div{extraAttributes -> f:format.raw()}>
			<ts:render path="tabsContent" />
		</div>
	</{tagName}>
</f:section>

<!-- Tabs navigation -->
<f:section name="tabNavItem">
	<f:if condition="{iterator.isFirst}"><ul{extraAttributes -> f:format.raw()}></f:if>
		<li{attributes -> f:format.raw()}><a href="#{href}">{title}</a></li>
	<f:if condition="{iterator.isLast}"></ul></f:if>
</f:section>

<!-- Tabs content item -->
<f:section name="tabContentItem">
	<{tagName}{attributes -> f:format.raw()}>
		<ts:render path="content" />
	</{tagName}>
</f:section>
