{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace neos=TYPO3\Neos\ViewHelpers}

<f:section name="tabs">
	<f:render partial="Anchor" arguments="{_all}" />

	<dl{extraAttributes -> f:format.raw()}>
		<f:for each="{tabsItems}" as="tabNode">
			<dd{f:if(condition: tabNode.properties.activeTab, then: ' class="active"', else: null )}>
				<a href="#tab-{f:if(condition: tabNode.properties.customHtmlId, then: tabNode.properties.customHtmlId, else: tabNode.nodeData.identifier)}">{tabNode.properties.title}</a>
			</dd>
		</f:for>
	</dl>

	<{tagName}{attributes -> f:format.raw()}>
		<ts:render path="tabsContent" />
	</{tagName}>
</f:section>

<f:section name="tabContentItem">
	<{tagName}{attributes -> f:format.raw()}>
		<ts:render path="content" />
	</{tagName}>
</f:section>
