{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}

<f:if condition="{extraAttributes}"><div{extraAttributes -> f:format.raw()}></f:if>

	<nav{attributes -> f:format.raw()} data-topbar>
		<ul class="title-area">
			<f:if condition="{topBarTitle}">
				<li class="name">
					<h1><a href="/"><span>{topBarTitle -> f:format.raw()}</span></a></h1>
				</li>
			</f:if>

			<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
		</ul>

		<section class="top-bar-section">
			<ul class="{sectionAlign}">
				<f:render section="itemsList" arguments="{items: items, magellanSupport: magellanSupport}" />
			</ul>
		</section>
	</nav>

<f:if condition="{extraAttributes}"></div></f:if>



<f:section name="itemsList">
<f:for each="{items}" as="item">
	<li class="{item.cssClasses}"<f:if condition="{magellanSupport}"><f:if condition="{item.fragmentId}">data-magellan-arrival="{item.fragmentId}"</f:if></f:if>>
		<f:if condition="{item.fragmentId}">
			<f:then>
				<neos:link.node node="{item.node}" section="{item.fragmentId}">{item.label}</neos:link.node>
			</f:then>
			<f:else>
				<neos:link.node node="{item.node}">{item.label}</neos:link.node>
			</f:else>
		</f:if>

		<f:if condition="{item.subItems}">
			<ul class="dropdown">
				<f:render section="itemsList" arguments="{items: item.subItems}" />
			</ul>
		</f:if>
	</li>
</f:for>
</f:section>
